.DS_Store
/.build
/Packages
xcuserdata/
*.xcodeproj
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
db.sqlite
.swiftpm
.env
.env.*
! .env.example
.vscode